@charset "ISO-8859-1";

#e7ab3c

body {
	line-height: 24px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #777777;
	background: #fff;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	z-index: 1;
	top: 10px;
	transform: translateX(-50%);
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 80%;
	background-color: white;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h3 {
	color: red;
}

img {
	width: 100px;
	height: auto;
	margin-left: 20px;
}

.header-menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	margin-right: 20px;
	padding: 0;
}

.header-search {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	width: 35%;
	height: 50px;
	border-radius: 51px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	background: #ffaf02;
}

.header-menu a {
	list-style-type: none;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
}

.header-search-icon {
	border: none;
	outline: none;
	background: #fe6e02;
	width: 50px;
	height: 100%;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 16px;
}

.header-search-input {
	border: none;
	outline: none;
	background: transparent;
	color: white;
	font-size: 16px;
	font-weight: 500;
	flex: 1;
	margin-right: 20px;
}

.header-btn i {
	padding: 20px;
	font-size: 18px;
}

.header-user {
	margin-right: 20px;
}

.banner {
	position: relative;
}

.banner .banner-bg {
	width: 100%;
	height: 100%;
}

.banner-shoe {
	position: absolute;
	right: 10%;
	top: 30%;
	width: 35%;
	height: auto;
}

.shop {
	margin: 180px 100px 0;
}

.side-bar {
	position: fixed;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	min-height: 70%;
}

.block-product {
	margin-left: 28%;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card {
	margin: 10px 0;
	position: relative;
}

.card img {
	margin: 0;
}

.label {
	position: absolute;
	top: 10%;
	left: 0;
}

.label p {
	min-width: 60px;
	font-size: 14px;
	color: white;
	background-color: #e7ab3c;
	margin: 5px 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 14px;
}

.like {
	font-size: 2rem;
	background: transparent;
	position: absolute;
	top: 5%;
	right: 5%;
	border: none;
	width: 50px;
	color: #e7ab3c;
}

.paginate {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-content {
	left: 10%;
	position: absolute;
	top: 40%;
}

.banner-content h1 {
	font-size: 60px;
	color: #e7ab3c;
	font-weight: 800;
}

.banner-content p {
	font-size: 20px;
	color: black;
	font-weight: 500;
	width: 40%;
}

.shop-now-btn {
	font-size: 20px;
	color: white;
	background: #e7ab3c;
	font-weight: 600;
	width: 150px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
}

.header-menu.active {
	border-bottom: 3px solid #e7ab3c;
}

.header-cart {
	position: relative;
}

.header-cart-sub {
	position: absolute;
	top: 100%;
	right: 0;
	width: 360px;
	max-height: 380px;
	overflow-y: auto;
	background: #fff9ed;
	padding: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.header-cart-item {
	display: flex;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

.header-cart-item img{
	margin: 0;
	width: 60px;
	height: 60px;
	object-fit: contain;
}
.header-cart-item-context{
	flex: 1;
}
.header-cart-item-context h3{
	font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #e7ab3c;
    margin-left: 10px;
    
}
.header-cart-item-context p{
	font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
}
.cart-close-item{
	width: 50px;
	height: 50px;
	
}